body {
    font-size: 1vw;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div>* {
    border: 1px solid #F00;
    padding: 1rem;
}

div {
    display: flex;
    flex-wrap: wrap;
}


header {
    background-color: hsl(20, 60%, 80%);
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;

}

main {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(120, 60%, 80%);
    flex-basis: 30%;
    order: 3;
    flex-grow: 1;
    

}

main>* {
    flex-basis: 45%;
    padding: 0.5em;
    border: 1px solid #f0f;
}

section {
    order: 4;
    
}

aside {
    order: 2;

}

footer {
    order: 5;
}